:root {
--basic-black: #000000;
--basic-white: #ffffff;
--basic-blue: #293449;
--background-grey: #F1F5F7;
--green: #63A63E;
--basic-red: #EE3643;
--catalog-yellow: #FFBF47;
--light-blue: #3BBCE3;
--light-pink: #DC91D8;
--light-green: #8ED78F;
--light-grey: #F9F5F0;
--yellow: #FFD180;
--dark-blue: #32425C;
--darkest-blue: #212A3A;
--blue-click: #161D29;
--green-click: #63A63E;
--green-hover: #5FBB2D;
--red-error: #BA2732;
--red-hover: #CA2C37;
--yellow-footer: #FFD180;
--grey-price: #A9A9A9;
}

.page-body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-black);
    background-color: var(--basic-white);
  }

  a {
    text-decoration: none;
    color: var(--basic-black);

  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  .button {
      background-color: var(--basic-red);
      color: var(--basic-white);
      font-size: 14px;
      line-height: 18px;
  }

  .main-header{
    background: rgba(0, 0, 0, 0.0001);
}

  .menu-wrapper {
    background-color: var(--basic-blue);
    color: var(--basic-white);
}

.logo-wrapper {
    background-color: var(--basic-red);
}

.menu-list {
    list-style: no-style;
    font-size: 18px;
    line-height: 24px;
}

.order {
    background-color: var(--green);
}

.site-header {
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    font-style: italic;
    color: var(--basic-red);
}

.telephone-number {
    border-width: 3px;
    border-style: solid;
    border-color: var(--basic-white);
    color: var(--basic-red);

}

.main-navigation {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        color: var(--basic-white);
        background-color: var(--basic-blue);
}

.navigation-link {
    color: var(--basic-white);
}

.features {
    color: var(--basic-white);
}    

.features-header {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
 }

.features-item {
    font-size: 14px;
    line-height: 18px;
    background-color: var(--basic-white);
}
    
.features-link {
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--basic-white);
}

.materials {
        background-color: var(--yellow);
    }

.instruments {
        background-color: var(--light-blue);
    }

.appliances {
        background-color: var(--light-pink);
    }

.sales {
        background-color: var(--light-green);
    }

.delivery {
        background-color: var(--yellow);
    }

.slider-header {
        font-size: 36px;
        font-weight: 700;
        line-height: 36px;
    }

.slider-description {
        font-size: 18px;
        line-height: 24px;
    }

.popular-items-wrapper {
        background-color: var(--light-grey);
    }

.popular-header {
    font-size: 30px;
    line-height: 30px;
    color: var(--dark-blue);
}   

.popular-items-list {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
}

.to-full-list {
        background-color: var(--basic-red);
        color: var(--basic-white);
        font-size: 14px;
        line-height: 18px;
    }

.product-name {  
        font-size: 18px;
        line-height: 20px;
    }

     
.price {
        font-size: 17px;
        line-height: 18px;
        color: var(--basic-white);
    }

.old-price {
        color: var(--grey-price);
    }

.new-price {
        color: var(--basic-white);
        background-color: var(--basic-red);
    }

.brand-image:hover {
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
    }

.brand-image:visited {
        opacity: 0.5;
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
    }

.services {
        background-color: var(--background-grey);
    }

.services-header {
        font-size: 30px;
        line-height: 30px;
        text-transform: uppercase;
    }

.services-description {
        font-family: "PT Sans", Arial, sans-serif;
        font-size: 13px;
        line-height: 24px;
    }
    
.services-item {
        background-color: var(--dark-blue);
    }

.services-item:hover {
        background-color: var(--basic-blue);
    }

.services-item:enabled {
        background-color: var(--basic-white);
        color: var(--dark-blue);
    }

.services-header {
        font-size: 30px;
        line-height: 30px;
        text-transform: uppercase;
        color: var(--dark-blue);
    }

.about-header {
        font-size: 30px;
        line-height: 30px;
        text-transform: uppercase;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

.partners-item {
        font-size: 18px;
        line-height: 24px;
        color: var(--basic-black);
    }

.contacts-info-header {
        font-size: 30px;
        line-height: 30px;
        color: var(--basic-black);
        text-transform: uppercase;
    }

.contacts-description {
        font-family: "PT Sans", Arial, sans-serif;
        font-size: 13px;
        line-height: 24px;
        color: var(--basic-black);
    }

.page-footer {
       background-color: var(--dark-blue);
       color: var(--basic-white);
   }

.logo-footer {
    background-color: var(--basic-red);
}

.footer-catalog-menu {
       color: var(--yellow-footer);
   }

.feedback-wrapper {
    background-color: var(--basic-blue);
   }


.footer-link {
       color: var(--yellow-footer);
   }







